/* font style */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shard style */
/* shard style */

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.display-flex{
    display: flex;
}

.text-primary{
    color: #FF900E;
}


.section-title{
    font-size: 2.8rem;
}

/* dark 02 */
.text-gray{
    color: #424242;
}

/* dark 03 */
.text-light-gray{
    color: #727272;
}

.btn-primary{
    border: none;
    background-color: #FF900E;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.25rem;
}

main{
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
}


/* header Style */

/* navbar related style*/
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar .links{
    gap: 30px;
}

.navbar .brand{
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar .links .nav-item{
    list-style: none;
}

.navbar .links .nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}

.navbar, .banner{
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related style */
.banner .banner-contant{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner .banner-contant .banner-title{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 18px;
}

.banner .banner-contant .banner-description{
    font-size: 1rem;
    line-height: 1.6rem;
    margin-bottom: 2rem;
}

.banner .banner-image{
    width: 100%;
}

/* team and feature related style */
.teams{
    align-items: center;
    margin-top: 85px;
    gap: 70px;
}

.teams .team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.teams .our-features{
    max-width: 537px;
}


.teams .our-features .feature-descriptiom{
    font-size: 1rem;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 24px;
}


/* responsive media quary */
@media screen and (max-width:576px) {
    .navbar, 
    .links, 
    .teams{
        flex-direction: column;
    }

    .teams .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
}


/* medium size device */
@media screen  and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
}