/* font style */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shard style */
/* shard style */

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.display-flex{
    display: flex;
}

.text-primary{
    color: #FF900E;
}


.section-title{
    font-size: 2.8rem;
}

/* dark 02 */
.text-gray{
    color: #424242;
}

/* dark 03 */
.text-light-gray{
    color: #727272;
}

.btn-primary{
    border: none;
    background-color: #FF900E;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.25rem;
}

main{
    /* width: 80%; */
    max-width: 1440px;
    margin: 0 auto;
}


/* header Style */

/* navbar related style*/
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar .links{
    gap: 30px;
}

.navbar .brand{
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar .links .nav-item{
    list-style: none;
}

.navbar .links .nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}

.navbar, .banner{
    /* width: 80%; */
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related style */
.banner .banner-contant{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner .banner-contant .banner-title{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 18px;
}

.banner .banner-contant .banner-description{
    font-size: 1rem;
    line-height: 1.6rem;
    margin-bottom: 2rem;
}

.banner .banner-image{
    width: 100%;
}

/* team and feature related style */
.teams{
    align-items: center;
    margin-top: 85px;
    gap: 70px;
}

.teams .team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.teams .our-features{
    max-width: 537px;
}


.teams .our-features .feature-descriptiom{
    font-size: 1rem;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 24px;
}

/* feature section related style */
#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}

.feature-card .feature-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}

.feature-card{
    padding: 30px;
    box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 10px;
}

.features{
    justify-content: space-between;
    gap: 146px;
    margin: 100px 0px;
}

#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}

#experience-year{
    font-size: 4rem;
    font-weight: bold;
}


/* some fact related style */
.some-facts{
    margin-top: 50px;
    margin-bottom: 50px;
}

.section-title{
    margin-top: 30px;
    margin-bottom: 20px;
}

.fact-description{
    margin-bottom: 20px
}

.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.fact-card{
    border: 1px solid rgb(221, 162, 14);
    width: 300px;
    height: 320px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 8px;
}

.fact-name{
    font-size: 1.5rem;
    font-weight: 500;
}

/* sponsor part */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-company{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 90px;
}

.sponsor-company img{
    filter: grayscale(100%);
}

/* copyrigth section */
.copyright{
    background-color: #f3be85;
    text-align: center;
    padding: 20px 0;
    margin: 100px 0;
}

/* responsive media quary */
@media screen and (max-width:576px) {
    .navbar, 
    .links, 
    .teams{
        flex-direction: column;
    }

    .teams .team-img-container,
    .facts-container,
    .sponsor-company{
        grid-template-columns: repeat(1, 1fr);
    }

    .facts-container,
    .sponsor-company{
        justify-items: center;
        gap: 24px;
    }

    .our-features{
        margin-left: 20px;
    }

    .features{
        flex-direction: column;
    }

    /* img {
        width: 100%;
    } */

    #misty{
        width: 100%;
    }

    #experience-badge {
        padding: 10px 10px;
        font-size: 1.5rem;
        font-weight: 500;
        margin-left: 10px;
        margin-top: -60px;
    }

    #experience-year {
        font-size: 2rem;
        font-weight: bold;
    }
}


/* medium size device */
@media screen  and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }

    .facts-container{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 20px;
    }

    .sponsor-company{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 20px;
    }

    .features{
        flex-direction: column;
    }

    #experience-badge {
        padding: 10px 10px;
        font-size: 1.5rem;
        font-weight: 500;
        margin-left: 10px;
        margin-top: -60px;
    }

    #experience-year {
        font-size: 2rem;
        font-weight: bold;
    }

    /* img {
        width: 100%;
    } */

    #misty{
        width: 100%;
    }
}